{% extends 'base.html.twig' %}

{% block title %} Hỏi & Đáp{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="end"> Hỏi & Đáp</li>
</ul>

<div class="container">
    <div class="col-xs-12">
        <div class="heading-pageDetail">
            <h1>Hỏi &amp; Đáp</h1>
        </div>
        <div class="content-pageDetail typeList-style">
            <p style="text-align: justify">
                <img style="display: block; margin-left: auto; margin-right: auto"
                     src="//file.hstatic.net/1000160337/file/hoi_20dap2_grande.png" />
            </p>
            <hr />
            <p style="text-align: justify">&nbsp;</p>
            <h2 style="text-align: justify">
                <strong><span style="color: #ffffff"><span><span><span style="background-color: #27ae60">A. SẢN
                PHẨM</span></span></span></span></strong>
            </h2>
            <p style="text-align: justify">
                <span style="color: rgb(153, 51, 102)"><strong>1.<br />Hỏi:</strong></span>&nbsp;Figure Nhật cao bao
                nhiêu&nbsp;?<br /><span style="color: rgb(255, 0, 0)"><strong>Đáp:</strong></span>&nbsp;Figure Nhật Bản được thu
                nhỏ theo 1 tỉ lệ nhất định&nbsp;thường gặp
                là 1/10, 1/8, 1/7, 1/6, 1/5, hoặc các tỉ lệ lớn hơn như 1/4, 1/3, 1/2.5,
                1/2 và hiếm nhất là 1/1. Đây gọi là Scale figure.
            </p>
            <p style="text-align: justify">
                [Chiều cao của figure = khoảng cách từ đáy cho tới điểm cao nhất của
                figure đó.]<br /><br />Khi gặp 1 figure 1/8 bạn sẽ hiểu là: "Ah figure này
                cao bằng 1/8 nguyên bản nhân vật trong phim/ truyện /game với đúng tư thế
                đó".<br />Vd: Binh trưởng Levi cao 160cm&nbsp;(theo lời tác giả Hajime
                Isayama)---&gt;figure 1/8 của anh cao 20cm. Đơn giản vậy thôi NHƯNG 20cm
                này sẽ còn biến đổi khi&nbsp;nhân vật chạy, bay, nhảy, đội mũ, mang giày,
                vác kiếm trên đầu, đứng 1 chân&nbsp;trên sa bàn...bla bla bla nhớ cộng trừ
                vào khi bạn suy từ chiều cao figure ra chiều cao thật của nhân vật.
            </p>
            <p style="text-align: justify">
                <span style="color: rgb(153, 51, 102)"><strong>2.</strong></span><br /><span
                        style="color: rgb(153, 51, 102)"><strong>Hỏi:</strong></span>
                Tôi có thể mua hàng nhái, hàng giả, hàng fake tại Japan Figure được ko
                ?<br /><span style="color: rgb(255, 0, 0)"><strong>Đáp:</strong></span>
                Không được, Japan Figure là nơi chỉ dành cho những sản phẩm có bản quyền.
                Tất cả figure đều nhập khẩu từ Nhật Bản.
            </p>
            <p style="text-align: justify">
                <br /><span style="color: #993366"><strong>3.<br />Hỏi:</strong></span><span>&nbsp;Làm sao để phân biệt được hàng
        thật và hàng giả?</span><br /><span style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;Dựa vào kinh
        nghiệm quan sát/ giá thành. Japan Figure có 1 bài
        hướng dẫn
        <a target="_blank" rel="noopener noreferrer"
           href="http://japanfigure.vn/blogs/tin-tuc/cach-phan-biet-figure-nhat-chinh-hang-hang-nhai-tu-trung-quoc">chi
          tiết tại đây</a></span>
            </p>
            <p style="text-align: justify">
                <span style="color: #993366"><strong>4.<br />Hỏi:</strong></span><span>
        Tại sao cùng 1 kích thước như nhau, số lượng phụ kiện tương đồng, lượng
        nhựa tương tự nhau, mức độ chi tiết, thẩm mỹ không hề kém cạnh...nhưng
        figure này lại cao giá hơn figrue kia như vậy ?</span><br /><br /><span
                        style="color: #ff0000"><strong>Đáp:</strong></span><br /><span><span style="font-size: 15pt"><strong>Có 2 lý do
            chính: HOT VÀ HIẾM&nbsp;</strong></span></span>
            </p>
            <p style="text-align: justify">
      <span><strong><span style="color: rgb(51, 102, 255)">Thứ nhất HOT</span></strong>
        là độ nổi tiếng nhân vật khác nhau bạn ạ, trong cùng 1 series
        nhưng:&nbsp;<br />-Doraemon lúc nào cũng đắt gấp đôi Nobita, Shizuka là
        chuyện thường thấy<br />-Son Goku phải đắt gấp 3 lần Vegeta là điều hiển
        nhiên.<br />-Giá Miku phải bằng Rin và Len cộng lại, là chuyện dễ gặp<br />-2
        chị em song sinh, nhưng Rem lúc nào gấp đôi giá với Ram.<br />...rất
        nhiều trường hợp tương tự khác.<br />Nhân vật nào được nhiều người yêu
        thích hơn, phủ sóng mạnh hơn, tầm ảnh hưởng rộng hơn, bán cháy hàng
        hơn,...thì mặc nhiên giá trị nhân vật đó phải cao hơn những nv còn
        lại.</span><br />&nbsp;
            </p>
            <p style="text-align: justify">
      <span><strong><span style="color: rgb(51, 102, 255)">Thứ hai HIẾM</span>&nbsp;</strong>ngày phát hành là điều tối
        quan trọng bạn cần lưu tâm trong 1 loạt
        thông tin về 1 figure. 1 Figure chính hãng luôn có ngày phát hành ấn
        định, đôi lúc lịch này bị trì hoãn do nhà sản xuất. Nhưng nhìn chung,
        nếu bạn đặt mua 1 figure càng sớm trước ngày phát hành bao nhiêu, thì
        bạn càng sẽ có được giá tốt bấy nhiêu, biên độ an toàn là 4-6 tháng
        trước khi phát hành.</span>
            </p>
            <blockquote>
      <span>Trường hợp của Dark Angel Olivia là hết hàng chỉ 2 tiếng sau khi mở bán
        vào tháng 9/2013 rồi đấy.</span>
            </blockquote>
            <p style="text-align: justify">
      <span>Càng cận phát hành nguy cơ hết hàng càng cao, những nhân vật càng nổi
        tiếng, càng limited thì sẽ càngcháy hàng trước khi phát hành 2-3
        tháng.<br />Đặc biệt sau khi phát hành, figure hot sẽ trở thành hiếm và
        tăng giá theo thời gian mỗi tuần mỗi tháng.</span>
            </p>
            <p style="text-align: justify">
                <em>Japan Figure sẽ cố gắng cập nhật giá trên web theo mỗi tháng nhưng chắc
                    chắn ko theo dõi được mỗi ngày biến động giá của hàng triệu figure đã
                    phát hành&nbsp;<br />Vậy nên bạn cần check giá của những [figure CẦN CỌC
                    50%] trước với Japan Figure trước khi đồng ý mua hàng nhé.<br /><a target="_blank" rel="noopener noreferrer"
                                                                                       href="fb.com/japanfigure">fb.com/japanfigure</a></em>
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <p style="text-align: justify">
                <span style="color: #993366"><strong>5.<br />Hỏi:</strong></span><span>&nbsp;Tại sao figure Nhật lại biến động giá
        theo thời gian như
        vậy?</span><br /><span style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;Figure Nhật Bản là những
        mặt hàng có&nbsp;bản quyền và được sản
        xuất với số lượng giới hạn. Sản phẩm limited dao động từ 500-3000 hộp,
        sản phẩm standard đại trà hơn thì có thể lên 10.000-50.000 hộp. Nhưng dù
        cho&nbsp;sản xuất nhiều thế nào thì vẫn khó sánh được với lượng người
        mua, otaku, fan hâm mộ đông đảo trên kháp thế giới (trong đó có
        VN).&nbsp;</span>Figure càng nổi tiếng thì sẽ càng khan hiếm dần theo thời gian, giá trị
                figure sẽ tăng dần theo mỗi năm, mỗi tháng hoặc thậm chí mỗi tuần. Cứ 1
                đại lý hết hàng thì những đại lý khác sẽ tăng giá. Dẫn tới giá trị thực
                khi về VN cũng tăng theo.
            </p>
            <p style="text-align: justify">
                <strong><span style="color: #8e44ad">6.</span><br /><span
                            style="color: rgb(128, 0, 0)">Hỏi:</span></strong><span>&nbsp;Figure hot lúc nào giảm giá ko
        ?&nbsp;</span><br /><span style="color: rgb(255, 0, 0)"><strong>Đáp: </strong><span
                            style="color: rgb(0, 0, 0)">Có, giảm giá khi được TÁI PHÁT HÀNH. Và thời gian tái phát hành phụ
          thuộc vào nhà phát hành.</span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: rgb(255, 0, 0)"><span style="color: rgb(0, 0, 255)">Khi thị trường có quá nhiều lựa chọn thì
          bên sản xuất hẳn sẽ tự
          hỏi:</span><br /><span style="color: rgb(0, 0, 0)">-Liệu sản phẩm này tiềm năng hay ko?</span><br /><span
                  style="color: rgb(0, 0, 0)">-Nếu tiềm năng liệu nó còn cháy hàng như lúc bộ phim đang được chiếu
          hay ko?</span><br /><span style="color: rgb(0, 0, 0)">Figure A này cách đây 2 năm hot thật đấy, nhưng liệu có
          bán được =
          figure B đình đám của năm nay ko?<br />-Doanh số bán figure A liệu có
          thể bù đắp cho sự thất bại của figure C ko?</span></span><br /><span style="color: rgb(0, 0, 0)">-Cần phải
        thiết kê lại hộp như thế nào để thu hút
        khách-hàng-đã-mua-sản-phẩn-phát hành-rồi vẫn tiếp tục mua
        sản-phẩm-tái-phát-hành.<br />-Có nên thêm tặng thêm 1 khuôn mặt, 1 vũ
        khí đặc biệt trong dịp tái phát hành ko ?</span>
            </p>
            <p style="text-align: justify">
      <span style="color: rgb(255, 0, 0)"><span style="color: rgb(0, 0, 0)">---&gt;1 figure "đã qua thời" sẽ cần vượt
          qua rất nhiều câu hỏi trước
          khi đi đến giai đoạn tái phát hành.</span></span>
            </p>
            <p style="text-align: justify">
                <strong><span style="color: #993366">7.</span></strong><br /><strong><span
                            style="color: #993366">Hỏi:</span></strong><span>&nbsp;Ngoài những sản phẩm trên web, Japan Figure có nhận đặt
        hàng
        những figure khác ko?</span><br /><strong><span style="color: #ff0000">Đáp:</span></strong><span>&nbsp;Có. Nếu
        bạn có nhu cầu đặt những figure Nhật khác, vui lòng liên
        hẹ tụi mình qua
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/japanfigure/">fb:japanfigure</a>
        hoặc mail support@japanfigure.vn</span>
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <hr />
            <h2 style="text-align: justify">&nbsp;</h2>
            <h2 style="text-align: justify">
                <strong><span style="color: #ffffff"><span><span style="background-color: #27ae60">B. THỜI
              GIAN</span></span></span></strong>
            </h2>
            <p style="text-align: justify">&nbsp;</p>
            <p style="text-align: justify">
                <span style="color: #993366"><strong>1.<br />Hỏi:</strong></span><span>&nbsp;Ngày phát hành là gì, nó có quan
        trọng không?</span><br /><span style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;Ngày phát hành là
        ngày chính thức một 1 figure xuất hiện trên thị
        trường, là ngày sản phẩm bắt đầu được chuyển đến tay người mua. Đây là
        thời điểm cực kỳ quan trọng, bạn phải lưu tâm cao độ vì nó ảnh hưởng
        trực tiếp tới giá thành sản phẩm.<br />Bạn đặt mua trước ngày phát hành
        ---&gt; bạn mua được với giá tốt nhất từ nhà sản xuất.<br />Bạn chờ tới
        ngày phát hành rồi mới mua ---&gt;&nbsp;nguy cơ hết hàng cao, giá tăng
        dần theo mỗi tháng vì độ hiếm. Tốc độ tăng giá sẽ chóng mặt khi đó là
        figure nổi tiếng + khó tìm.</span>
            </p>
            <p style="text-align: justify">
      <span><span style="color: #993366"><strong>2.<br />Hỏi:</strong></span><span>&nbsp;Tôi có thể đặt mua trước ngày
          phát hành bao lâu?</span><br /><span style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;Từ 3
          tháng, 6 tháng tới 1 năm tùy sản phẩm và tùy vào nhu cầu
          của bạn. Các nhà phát hành Japan Figure đều mở Pre-order/ đặt mua
          trước 'ngày phát hành' 1 khoảng thời gian dài. Mục đích là để bạn có
          thể kịp chuẩn bị $, mặt khác là để họ thăm dò thị trường, nhắm xem sản
          xuất số lượng bao nhiêu là đủ.&nbsp;</span></span><span><span>Bạn đặt càng sớm thì giá sẽ càng tốt vì như
          Japan Figure có nói ở
          trên, giá figure sẽ có khuynh hướng tăng dần theo thời gian.</span></span>
            </p>
            <p style="text-align: justify">
      <span><span><span style="color: #993366"><strong>3.<br />Hỏi:</strong></span><span>&nbsp;Ngày ra mắt, có giống như
            ngày phát hành ko ?</span><br /><span style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;Không.
            1 figure sản phẩm mẫu thường được ra mắt khá lâu trước
            khi phát tháng (6 tháng - 1 năm). Figure được ra mắt trong triễn
            lãm, trong các kỳ lễ hội hay trong các bài blog giới thiệu sản phẩm
            mới. Khi nhận thấy figure này được quan tâm nhiều, thì sau đó mới
            tiến hành tô vẽ, sản xuất hàng loạt ròi tiến tới phát hành.<br />Cũng
            với lý do trên, rất nhiều figure đã 'ra mắt' nhưng không được 'phát
            hành'.</span></span></span>
            </p>
            <p style="text-align: justify">
      <span><span style="color: #993366"><strong>4.<br />Hỏi:</strong></span><span>&nbsp;Khi nào tôi mới nhận được hàng
          ?</span><br /><span style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;2 tuần tính từ ngày phát
          hành. Nếu sản phẩm đã phát hành rồi,
          thời gian hàng về VN sẽ là 1-2 tuần tính từ lúc bạn cọc tiền. Và thời
          gian hàng từ Japan Figure về tới nhà bạn là 1-6 ngày tùy địa chỉ của
          bạn. Japan Figure ship toàn lãnh thổ VN.</span></span>
            </p>
            <p style="text-align: justify">
      <span><span style="color: #993366"><strong>5.<br />Hỏi:</strong></span>&nbsp;Tôi ở HCM, liệu tôi có thể đến shop
        nhận hàng ngay khi có hàng
        được ko ?<br /><span style="color: #ff0000"><strong>Đáp:</strong></span>&nbsp;Tất nhiên là được, bạn vui lòng
        hẹn trước khi đến (điện thoại,
        nhắn tin, fb, chat...)</span>
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <hr />
            <h2 style="text-align: justify">&nbsp;</h2>
            <h2 style="text-align: justify">
                <strong><span style="color: #ffffff"><span><span style="background-color: #27ae60">C.&nbsp;CÁCH THỨC THANH
              TOÁN</span></span></span></strong>
            </h2>
            <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0)"><span style="color: rgb(153, 51, 102)"><strong>1.<br />Hỏi:</strong>&nbsp;Tôi có
          thể mua hàng có sẵn bằng
          cách COD-nhận hàng + thanh toán tại nhà được ko&nbsp;?<br /><span style="color: #000000"><span
                          style="color: #ff0000"><strong>Đáp:</strong></span>&nbsp;Được. với hàng có sẵn, bạn có thể mua ngay và
            thanh toán tại
            nhà. Bạn được quyền kiểm tra hàng trước khi trả tiền. Nếu là hàng
            cũ, bạn có thể kiểm tra nội dung bên trong</span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0)"><span
                  style="color: rgb(153, 51, 102)"><strong>2.<br />Hỏi:</strong></span>&nbsp;Tôi có thể mua hàng đặt trước/ hàng
        order mà không cần cọc trước
        được ko ?</span><br /><span style="color: rgb(0, 0, 0)"><span
                            style="color: rgb(255, 0, 0)"><strong>Đáp:</strong></span> Không
        được. Figure Nhật Bản&nbsp;là những mặt hàng cao cấp và có giá trị không
        nhỏ, khi đặt trước bằng 'lời nói' thì ko có gì chắc chắn bạn sẽ mua khi
        hàng được nhập về xong cả.&nbsp;Japan Figure chỉ đặt về sau khi nhận
        được khoản cọc từ bạn.</span>
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <hr />
            <h2 style="text-align: justify">&nbsp;</h2>
            <h2 style="text-align: justify">
      <span style="color: #ffffff"><strong><span><span style="background-color: #27ae60">D. CÁCH THỨC VẬN
              CHUYỂN</span></span></strong></span>
            </h2>
            <p style="text-align: justify">
      <span style="color: rgb(51, 102, 255)"><span style="color: #000000"><span
                      style="color: #993366"><strong>1.<br />Hỏi:</strong></span>&nbsp;Sản phẩm được đóng gói an toàn
          không?</span><br /><span style="color: #000000"><span
                      style="color: #ff0000"><strong>Đáp:</strong></span>&nbsp;Mỗi sản phẩm tại Japan Figure đều được đóng gói kỹ
          lưỡng, bao
          lót chống sốc đầy đủ trước khi chuyển đi. Bạn có thể làm rớt kiện hàng
          từ độ cao 2 mét mà không sợ ảnh hưởng nội dung bên trong.</span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: rgb(51, 102, 255)"><span style="color: #000000"><span
                      style="color: #993366"><strong>2.<br />Hỏi:</strong></span>&nbsp;Phí vận chuyển là bao nhiêu?<br /><span
                      style="color: #000000"><span style="color: #ff0000"><strong>Đáp:</strong></span>&nbsp;Dao động từ
            20.000đ-150.000đ tùy kích thước kiện hàng và tùy
            địa chỉ của bạn xa hay gần. Japan Figure miễn phí ship khi bạn mua
            hàng từ 1.000.000đ trở lên, phạm vi áp dụng TOÀN QUỐC.</span></span></span>
            </p>
            <p style="text-align: justify">
      <span><span><span><strong><span style="color: #993366">3.<br />Hỏi:&nbsp;</span></strong><span
                          style="color: rgb(0, 0, 0)">Tôi muốn hẹn giờ giao có được ko?</span><br /><span
                          style="color: rgb(0, 0, 0)"><strong><span style="color: #ff0000">Đáp:</span></strong>&nbsp;Không được. Giờ
              giấc sẽ tùy thuộc vào dịch vụ chuyển phát.
              Họ sẽ đến trong giờ hành chính và gọi điện trước cho bạn. Khi bạn
              bắt máy, xác nhận, thì nhân viên giao hàng sẽ đến giao hàng cho
              bạn.</span></span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: rgb(51, 102, 255)"><span style="color: #000000"><span
                      style="color: #993366"><strong>4.<br />Hỏi:</strong></span>&nbsp;Nếu khi hàng được giao tới nhưng tôi đang
          bận, không tiện nhận,
          phải làm thế nào?<br /><span style="color: #000000"><span
                          style="color: #ff0000"><strong>Đáp:&nbsp;</strong><span style="color: rgb(0, 0, 0)">Bạn có thể hẹn lại
                người giao hàng, giao lại vào thời điểm khác
                trong ngày, hoặc giao lại vào ngày hôm khác.</span></span></span></span></span>
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <hr />
            &nbsp;
            <h2 style="text-align: justify">
                <strong><span style="color: #ffffff"><span><span><span style="background-color: #27ae60">E. BẢO QUẢN &amp; VỆ
                SINH</span></span></span></span></strong>
            </h2>
            <div>&nbsp;</div>
            <p style="text-align: justify">
      <span style="color: #3366ff"><span style="color: #ff99cc"><span
                      style="color: #993366"><strong>1.<br />Hỏi:</strong></span><span>&nbsp;<span
                          style="color: rgb(0, 0, 0)">Cách bảo quản figure như thế nào để giữ được lâu, sạch sẽ , an
              toàn ?</span></span><br /><span style="color: #000000"><span
                          style="color: #ff0000"><strong>Đáp:&nbsp;</strong><span style="color: #000000">Figure Nhật hàng chính
                hãng, cơ bản đã được sơn phủ nhiều lớp
                bảo vệ chắc chắn bên ngoài lớp sơn màu nên có thể chịu những tác
                động nhẹ như bụi bặm, ẩm ướt, nắng dịu. Tuy nhiên để figure có
                thể bền lâu thì bạn lưu ý những điểm sau:</span></span></span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: #3366ff"><span style="color: #ff99cc"><span style="color: #000000"><span
                          style="color: #ff0000"><span style="color: #000000"><strong>&gt;Nếu chỉ trưng bày trong nhà, ít đụng chạm
                  tới:</strong>
                giữ figure trong môi trường sạch sẽ, ít bụi bặm, tốt nhất là nên
                đặt trong hộp kính, kệ kính, tủ kính, tránh để côn trùng nhập cư
                bất hợp pháp.<br />Thỉnh thoảng lấy ra phủi bụi, bằng cọ lông
                mềm.&nbsp;Bạn có thể mua cọ nhỏ&nbsp;để quét những chi tiết nhỏ,
                sâu, hẹp và cọ lớn cho xử lý những bề mặt&nbsp;lớn, rộng.</span></span></span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: #3366ff"><span style="color: #ff99cc"><span style="color: #000000"><span
                          style="color: #ff0000"><span style="color: #000000"><strong>&gt;Nếu đem ra ngoài trời chụp
                  hình:</strong><span>&nbsp;đôi lúc để có ảnh đẹp, các bạn thường đem figure ra ao,
                  suối, vườn hoa, chịu nắng, chịu mưa hứng gió các kiểu.
                  Tuy&nbsp;màu sơn của figure Nhật Bản khá bền nhưng nó cũng có
                  phai nha, chỉ là tốc độ phai bạc sẽ chậm hơn nhiều&nbsp;so với
                  hàng giả thôi chứ ko phải bền tuyệt đối. Nên những dịp này bạn
                  cũng cần mang theo cọ, khăn lau bên người, một khi chụp hình
                  xong là có thể vệ sinh ngay tại chỗ.<br /><span style="text-decoration: underline">*Đôi lời dành cho
                    mấy bác chịu chơi:</span>
                  Miku Deep Sea Girl ver. ko phải được tạo ra để mấy bác ngâm
                  trong hồ cá ^^"</span></span></span></span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: #3366ff"><span style="color: #ff99cc"><span style="color: #000000"><span
                          style="color: #ff0000"><span style="color: #000000"><strong>&gt;Vệ sinh:&nbsp;</strong><br />Khi có những
                điểm dơ
                ngoài ý muốn, sử dụng khăn lông mềm và lau nhanh bằng nước, sau
                đó hong khô chi tiết.
              </span></span></span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: #3366ff"><span style="color: #ff99cc"><span style="color: #000000"><span
                          style="color: #ff0000"><span style="color: #000000">Khó tẩy hơn 1 chút thì bạn chơi tới kem đánh răng,
                cũng hòa với
                nước rồi chà nhanh bề mặt cần xử lý.</span></span></span></span></span>
            </p>
            <p style="text-align: justify">
      <span style="color: #3366ff"><span style="color: #ff99cc"><span style="color: #000000"><span
                          style="color: #ff0000"><span style="color: #000000">Chỉ khi nào vết dơ lì lợm, khó tẩy đi lắm mới phải
                dùng đến xà
                phòng. Hạn chế sử dụng xà phòng nhiều vì có thể làm bạc màu
                sơn.</span></span></span></span></span><br />&nbsp;
            </p>
            <hr />
            <h2 style="text-align: justify">&nbsp;</h2>
            <h2 style="text-align: justify">
      <span style="color: #ffffff"><strong><span><span><span style="background-color: #27ae60">F. THANH LÝ FIGURE
                CŨ</span></span></span></strong></span>
            </h2>
            <p style="text-align: justify">
                <br /><span style="color: #993366"><strong>Hỏi:</strong></span><span>
        Tôi có thể nhờ Japan Figure thanh lý figure của mình được ko?</span><br /><span
                        style="color: #ff0000"><strong>Đáp:</strong></span><span>&nbsp;</span>
            </p>
            <p style="text-align: justify">
                Được bạn nhé!&nbsp;để hỗ trợ bạn thanh lý figure,<br /><br />A/ Đầu tiên,
                bạn ký gửi figure tại chỗ tụi mình. Japan Figure sẽ đăng bài trên web và
                cộng đồng của JF đến khi tìm được người mua, đóng gói&nbsp;và ship tới địa
                chỉ của họ. Việc lưu giữ để đảm bảo người mua được nhận hàng đúng tình
                trạng mô tả.
            </p>
            <p style="text-align: justify">
                B/ Giá bán JF có thể gợi ý dựa trên trình trạng figure của bạn &amp; để
                bạn quyết định muốn bán giá nào.<br />Nếu người mua trả giá, JF sẽ hỏi ý
                bạn trước.
            </p>
            <p style="text-align: justify">
                C/ Sau khi người mua nhận hàng thành công và&nbsp;hài lòng,
                <strong>bạn sẽ nhận được 100% tiền hàng trừ đi phí ship đến người mua.</strong><br /><br />D/ Thời gian JF nhận ký
                gửi miễn phí: 1 tháng.<br />Nếu
                sau&nbsp;1 tháng&nbsp;vẫn chưa bán được, bạn có thể nhận figure về.<br />Nếu
                bạn vẫn muốn tiếp tục bán lâu hơn tại Japan Figure? Đồng ý,&nbsp;JF sẽ thu
                phí 20% sau khi&nbsp;thanh lý figure thành công.
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <hr />
            <p style="text-align: justify">&nbsp;</p>
            <h2 style="text-align: justify">
                <strong><span style="color: #ffffff"><span><span><span style="background-color: #27ae60">G.THẮC MẮC VỀ CÁCH SỬA
                CHỮA FIGURE</span></span></span></span></strong>
            </h2>
            <div>&nbsp;</div>
            <p style="text-align: justify">
                1.<strong><span style="color: rgb(0, 0, 255)"><a target="_blank" style="color: rgb(0, 0, 255)"
                                                                 rel="noopener noreferrer"
                                                                 href="http://japanfigure.vn/blogs/tin-tuc/kahotan-diy-huong-dan-tu-sua-figure-phan-1-sua-khop-gay">Cách tháo
            phần khớp bị gãy ra khỏi chỗ kẹt</a></span></strong>&nbsp;&lt;&lt; Click
            </p>
            <p style="text-align: justify">
                2.<strong><span style="color: rgb(0, 0, 255)"><a style="color: rgb(0, 0, 255)"
                                                                 href="http://japanfigure.vn/blogs/tin-tuc/kahotan-diy-huong-dan-tu-sua-figure-phan-2-gia-co-khop">Cách gia
            cố khớp</a></span></strong>&nbsp;<span>&lt;&lt; Click</span>
            </p>
            <p style="text-align: justify">
                3.<strong><span style="color: rgb(0, 0, 255)"><a target="_blank" style="color: rgb(0, 0, 255)"
                                                                 rel="noopener noreferrer"
                                                                 href="http://japanfigure.vn/blogs/tin-tuc/kahotan-diy-huong-dan-tu-sua-figure-phan-3-tray-son">Cách sơn lại
            khu vực bị trầy</a></span></strong>&nbsp;<span>&lt;&lt; Click</span>
            </p>
        </div>
    </div>
</div>
    <br><br><br>
{% endblock %}