{% extends 'base.html.twig' %}

{% block title %}HƯỚNG DẪN ĐẶT HÀNG & THANH TOÁN TẠI JAPAN FIGURE{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="end">HƯỚNG DẪN ĐẶT HÀNG & THANH TOÁN TẠI JAPAN FIGURE</li>
</ul>
<div class="header-blog-banner text-center" style="margin-top: -16px">
    <img class=" ls-is-cached lazyloaded" data-src="//theme.hstatic.net/1000160337/1000885200/14/blogs_banner_paralax.jpg?v=311" src="//theme.hstatic.net/1000160337/1000885200/14/blogs_banner_paralax.jpg?v=311" alt="Hướng dẫn">
</div>
<div class="container">
    <div class="col-xs-12"><br>
        <div class="heading-article">
            <h1>HƯỚNG DẪN ĐẶT HÀNG &amp; THANH TOÁN TẠI JAPAN FIGURE</h1><br>
            <div class="article-post-meta">
        </div>
        <div class="inforArticle-content">
            <div class="article-content">
                <div class="box-article-heading clearfix">



                    <div class="background-img">
                        <img src="https://file.hstatic.net/1000160337/article/figure-145230_01_5cbe867043654a17b7928c7815b6f5c1.jpg"
                             alt="HƯỚNG DẪN ĐẶT HÀNG &amp; THANH TOÁN TẠI JAPAN FIGURE">
                    </div>
                </div>
                <div class="box-article-detail typeList-style">
                    <p style="text-align: center;"><span style="font-size: 20pt; color: #000000;"><strong><em>Hướng dẫn đặt hàng
              </em></strong></span><br><span style="font-size: 20pt; color: #000000;"><strong><em>&amp; thanh toán tại
                JapanFigure.vn</em></strong></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size: 26.6667px;"><b><i>--A.Đặt hàng--</i></b></span></p>
                    <p style="text-align: left;">Để đặt hàng tại Japanfigure.vn bạn làm như sau:</p>
                    <p style="text-align: left;"><strong>Bước 1.</strong> Chọn sản phẩm bạn cần mua + số lượng</p>
                    <p style="text-align: left;"><strong>Bước 2.</strong> Japan Figure có 2 loại sản phẩm</p>
                    <ul>
                        <li style="text-align: left;"><strong><span style="color: rgb(255, 0, 0);">MUA NGAY</span></strong> --&gt;
                            Hàng có sẵn, bạn có thể mua ngay</li>
                        <li style="text-align: left;"><span style="color: #ff0000;"><b>ĐẶT TRƯỚC</b></span>&nbsp;--&gt;Hàng ko có sẵn,
                            bạn cần đặt trước 50%</li>
                    </ul>
                    <p><img src="//file.hstatic.net/1000160337/file/1_dat_mua.jpg"></p>
                    <p style="text-align: left;"><strong>Bước 3.</strong> Nhập thông tin tên, địa chỉ, sđt, email của bạn.</p>
                    <p><img src="//file.hstatic.net/1000160337/file/dat_hang_2_grande.jpg"></p>
                    <p style="text-align: left;"><span style="font-size: 10pt;"><strong>Bước 4.</strong> Nhập mã giảm giá (nếu
            có)</span></p>
                    <p><img src="//file.hstatic.net/1000160337/file/dat_hang_3_grande.jpg"></p>
                    <p style="text-align: left;"><span style="font-size: 10pt;"><strong>Bước 5.</strong> Chọn phương thức nhận
            hàng</span></p>
                    <p style="text-align: left;"><span style="font-size: 10pt;"><strong>Bước 6.</strong> Chọn phương thức thanh
            toán</span></p>
                    <ul>
                        <li style="text-align: left;"><span style="font-size: 13.3333px;">Xem kỹ hàng của bạn là <span
                                        style="color: rgb(255, 0, 0);"><strong>MUA NGAY</strong></span> hay <strong><span
                                            style="color: rgb(255, 0, 0);">ĐẶT TRƯỚC</span></strong>, để chọn phương thức thanh toán phù
              hợp.</span></li>
                        <li style="text-align: left;"><span style="font-size: 13.3333px;">Đơn hàng của bạn sẽ <strong><span
                                            style="color: rgb(255, 0, 0);">MẶC ĐỊNH BỊ HỦY NẾU</span></strong>&nbsp;bạn chọn món <strong><span
                                            style="color: rgb(255, 0, 0);">ĐẶT TRƯỚC + COD&nbsp;</span></strong><br><span
                                        style="color: rgb(0, 0, 0);">(Thật vô lý khi yêu cầu giao hàng ngay 1 món đồ ko có sẵn, phải ko ?
                ^^)</span></span></li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><img src="//file.hstatic.net/1000160337/file/dat_hang_4_grande.jpg"></p>
                    <p><strong>Bước 7.</strong><span> Hoàn tất</span></p>
                    <ul>
                        <li><span>Kiểm tra hộp mail của bạn để xác nhận đơn hàng</span></li>
                        <li><span>Gửi tiền cọc cho Japan Figure khi bạn mua món 'Đặt trước'</span></li>
                    </ul>
                    <p>&nbsp;</p>
                    <hr>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size: 26.6667px;"><b><i>--B.Thanh toán--</i></b></span></p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><strong><span style="color: #ff0000;"><em><span
                                            style="text-decoration: underline;"><img
                                                src="//file.hstatic.net/1000160337/file/japan_figure_thanh_truc_tiep_small.png">&nbsp;
                  &nbsp;</span></em><span style="font-size: 12pt; color: #ff6600;">Cách 1. Thanh toán trực
                tiếp,&nbsp;cọc trực tiếp:</span></span></strong></p>
                    <p>&nbsp;</p>
                    <p><br><span style="font-size: 10pt;">Địa Chỉ: 384/97A Lý Thái Tổ, P10, Q10, Tp.HCM</span><br><span
                                style="font-size: 10pt;">Hotline <strong>090.8268.007</strong> <strong>(Vui lòng gọi trước khi
              đến)</strong></span></p>
                    <hr>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><img
                                src="//file.hstatic.net/1000160337/file/japan_figure_thanh_toan_the_small.png">&nbsp; &nbsp;<span
                                style="font-size: 12pt;"><strong><span style="color: #ff6600;">Cách 2. Gửi tiền vào TK của Japan
                Figure:</span></strong></span></p>
                    <p class="message"><span style="font-size: 10pt;">Với các bạn ở xa có thể gửi vào 1 trong 10 tài khoản
            sau:</span></p>
                    <h2 class="message"><span style="font-size: 13.3333px; color: rgb(255, 0, 255);">NỘI DUNG CHUYỂN TIỀN LÀ MÃ SỐ
            ĐƠN HÀNG CỦA BẠN<br>Vd: Cọc 50% cho #0123456 (mã sẽ có sau khi bạn đặt hàng trên web)</span></h2>
                    <p><strong>1. Ngân hàng Techcombank</strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 37 38 48 58 68<br>Chi nhánh: Kỳ
                        Hòa</p>
                    <p><strong>2.Ngân hàng VPbank </strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 141478052<br>Chi nhánh Phòng giao dịch
                        Quận 10, HCM</p>
                    <p><strong><span>3.Ngân hàng Vietcombank</span></strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 0421000442816<br>Chi
                        nhánh Phú Thọ</p>
                    <p><strong>4.Ngân hàng ACB</strong><br><span>Chủ TK: Vũ Minh Tân</span><br><span>Số TK:
            143091319</span><br><span>Chi nhánh: Phòng giao dịch Vạn Hạnh</span></p>
                    <p><span><strong>5.Ngân hàng Vietinbank</strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 106867504720<br>Chi nhánh
            Phòng giao dịch Ngô Gia Tự</span></p>
                    <p><span><strong>6.Ngân hàng Đông Á</strong></span><br><span>Chủ TK: Vũ Minh Tân</span><br><span>Số TK:
            0103931732</span><br><span>Chi nhánh: Phòng giao dịch 3 tháng 2</span></p>
                    <p><span><strong>7. Ví Momo</strong><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007 </span></p>
                    <p><span><strong>8. Ví Zalopay</strong><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</span></p>
                    <p><strong>9. Ví Viettelpay</strong><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</p>
                    <p><strong>10. Ví Moca</strong><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><strong><span style="color: rgb(255, 102, 0);">♦♦♦♦♦♦♦♦<br><span
                                        style="font-size: 12pt;">Câu hỏi: Nếu tôi&nbsp;không có tài khoản cá nhân, ko có thẻ? </span><br><span
                                        style="font-size: 12pt;">Đừng lo lắng, bạn vẫn gửi $ được hoàn toàn bình thường. Cách thức đơn giản như
                sau:</span></span></strong></p>
                    <p>&nbsp;</p>
                    <p>1.Đến ngân hàng gần nhà bạn nhất</p>
                    <p>2.Hỏi xin nhân viên phiếu 'Nộp tiền vào tài khoản'</p>
                    <p>3.Điền đủ thông tin của bạn và tài khoản của Japan Figure.<br>Dòng "Nội dung gửi tiền" điền như
                        sau:<br><strong>Cọc 50% cho #12345</strong> hoặc Thanh toán <strong>100% cho #MãĐơnHàng</strong><br><em>#Mã
                            đơn hàng sẽ có sau khi bạn đặt hàng trên web xong.</em></p>
                    <p>4.Nộp đủ tiền cho nhân viên.</p>
                    <p>5.Ký tên, nở nụ cười thật tươi và cầm biên nhận ra về..</p>
                    <p>6.Nhắn tin cho Japan Figure biết bạn đã gửi tiền xong</p>
                    <p>&nbsp;</p>
                    <p><img style="display: block; margin-left: auto; margin-right: auto;"
                            src="//file.hstatic.net/1000160337/file/nop_tien_mat_tai_ngan_hang_japan_figure_grande.jpg"></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><strong><span style="color: rgb(255, 102, 0);"><em>♦♦♦♦♦♦♦♦</em><br><span
                                        style="font-size: 12pt;">Câu hỏi: Tôi muốn chuyển tiền tại nhà, ko cần tới Ngân
                Hàng?</span></span></strong><br><span style="font-size: 12pt;"><strong>Trả lời: Ok, vậy chỉ cần mở 1 tài
              khoản ngân hàng là xong.</strong></span></p>
                    <p><span>Yên tâm cách đăng ký vô cùng dễ<br>1. Cầm theo CMND đến ngân hàng gần nhà nhất.<br>2. Gặp nhân viên,
            cười tươi và nói "TRẪM MUỐN MỞ TÀI KHOẢN"<br>3. Điền phiếu, ký tên là xong, nhân viên sẽ hướng dẫn bạn cụ
            thể.<br>Tất cả chỉ mất chừng 10 phút!</span></p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <hr>
                    <p style="text-align: center;"><img
                                src="//file.hstatic.net/1000160337/file/japan_figure_thanh_toan_cod_small.png">&nbsp; &nbsp;<span
                                style="font-size: 12pt;"><strong><span style="font-size: 12pt; color: #ff6600;">Cách 3.&nbsp;Nhận hàng và
                thanh toán tại nhà&nbsp;</span></strong><strong><span style="color: rgb(255, 102, 0);">(chỉ áp dụng cho
                'Hàng có sẵn')</span></strong></span></p>
                    <p><span style="font-size: 10pt; color: #000000;">1.Bạn đặt hàng trên hệ thống web của Japan Figure</span></p>
                    <p><span style="font-size: 10pt; color: #000000;">2.Điền đủ thông tin tên họ, địa chỉ, sđt của bạn. Hàng sẽ được
            giao sau khi&nbsp;có xác nhận từ Japan Figure<br>Thời gian giao hàng từ 1-6 ngày làm việc tùy vào địa chỉ
            của bạn.</span></p>
                    <p><span style="font-size: 10pt; color: #000000;">3.Nhân viên giao hàng sẽ gọi điện trước khi đến, và chỉ giao
            hàng khi bạn bắt máy + cho phép họ đến nhà bạn giao hàng.</span></p>
                    <p><span style="font-size: 10pt; color: #000000;">4.Bạn có thể thanh toán 100% $ khi nhận hàng.</span></p>
                    <p><span style="font-size: 10pt; color: #000000;"><strong>Lưu ý:</strong> Nếu bạn từng đặt
            mua&nbsp;<strong>[Hàng Order] , </strong>sau khi hàng về VN, bạn cũng có thể nhận hàng bằng COD bình
            thường.</span></p>
                    <p>&nbsp;</p>
                    <hr>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><img src="//file.hstatic.net/1000160337/file/momo-circle_small.png">&nbsp;
                        &nbsp;<strong><span style="font-size: 12pt; color: #ff6600;">Cách 4. Chuyển tiền qua ví điện tử
              Momo</span></strong></p>
                    <p><br><span><span style="color: #993366;"><strong>MoMo</strong></span> là ứng dụng tài chính đầu tiên tại Việt
            Nam cho phép chuyển nhận tiền siêu nhanh qua số điện thoại di động vô cùng tiện lợi. Với những bạn ở xa, khi
            sử dụng Momo, bạn có thể thực hiện thanh toán với Japan Figure&nbsp;ngay tức khắc.</span><br>Ứng dụng này
                        tiện dụng đến mức, bạn thậm chí có thể gửi tiền và:<br><br><strong>_Không cần chờ đợi Ngân Hàng mở
                            cửa.</strong><br><strong>_Không cần đến trực tiếp Ngân Hàng để giao dịch.&nbsp;</strong><br>&nbsp;</p>
                    <p><span style="color: rgb(255, 0, 255);"><strong>NỘI DUNG CHUYỂN TIỀN LÀ MÃ SỐ ĐƠN HÀNG CỦA BẠN<br>Vd: Cọc 50%
              cho #0123456 (mã sẽ có sau khi bạn đặt hàng trên web)</strong></span></p>
                    <p><em><strong>Cách thực hiện như sau:</strong></em></p>
                    <p style="padding-left: 30px;"><strong><span style="color: #ffffff; background-color: #cc99ff;"><span
                                        style="font-size: 10pt;">1. Cài đặt app Momo vào smartphone của bạn.</span></span></strong></p>
                    <p style="padding-left: 30px;"><img src="//file.hstatic.net/1000160337/file/momoengforblog_large.jpg"></p>
                    <p style="padding-left: 30px;">&nbsp;</p>
                    <p style="padding-left: 30px;"><span
                                style="font-size: 10pt; background-color: #cc99ff; color: #ffffff;"><strong>2. Vào mục "khuyến mãi", nhập
              0908268007</strong></span></p>
                    <p style="padding-left: 30px;"><img
                                src="//file.hstatic.net/1000160337/file/japan_figure_thanh_toan_khuyen_mai_momo.jpg"></p>
                    <p style="padding-left: 30px;"><span
                                style="font-size: 10pt; background-color: #cc99ff; color: #ffffff;"><strong>3.Nạp tiền vào Momo.</strong>
          </span></p>
                    <p style="padding-left: 60px;"><span style="text-decoration: underline;"><span style="font-size: 10pt;">Có 2
              cách:</span></span></p>
                    <p><span style="font-size: 10pt;">A. Đến nạp tiền tại các cửa hàng có giao dịch Momo gần nhà
            bạn.</span><br><span style="font-size: 10pt;">B. Nạp từ tài khoản Ngân Hàng liên kết.</span></p>
                    <p><span style="font-size: 10pt;">&nbsp;</span></p>
                    <p style="padding-left: 30px;"><span style="font-size: 10pt;"><span
                                    style="background-color: #cc99ff; color: #ffffff;"><strong>4.Trên ứng dụng Momo, bạn vào [Chuyển
                Tiền]</strong></span></span></p>
                    <ul>
                        <li style="padding-left: 30px;"><span style="font-size: 10pt;">Điền sđt người nhận 0908268007. </span></li>
                        <li style="padding-left: 30px;"><span style="font-size: 10pt;">Nội dung gửi là <strong>#MãĐơnHàng</strong> của
              bạn.<br>Vd: Cọc 50% #0123456, Thanh toán 100% #0123456</span>
                            <div class="answer">&nbsp;</div>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p style="text-align: left;"><span style="font-size: 15pt;"><strong><span
                                        style="background-color: rgb(255, 0, 0); color: rgb(255, 255, 255);">Hướng dẫn chi
                tiết</span></strong></span></p>
                    <div class="accordion">
                        <ul class="list-unstyled">
                            <li>
                                <div class="question">
                                    <p><strong>1. Hướng dẫn nạp tiền vào Momo</strong></p>
                                </div>
                                <div class="answer">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="answer">
                                                <p>Có nhiều cách nạp tiền vào Ví MoMo vô cùng đơn giản, nhanh và an toàn.</p>
                                                <ul>
                                                    <li>
                                                        <p><b>Cách 1: Tại gần 4.000 Điểm giao dịch của MoMo:</b> Để biết điểm giao dịch gần nhất, vào
                                                            tính năng "<b>Tìm điểm Nạp/Rút tiền</b>" trên menu chính của Ứng dụng.</p>
                                                        <p><img src="https://file.hstatic.net/1000160337/file/japan_figure_thanh_toan_tim_momo.png">
                                                        </p>
                                                        <p>&nbsp;</p>Đến cửa hàng, bạn hỏi nhân viên/ chủ tiệm là bạn cần nạp tiền vào Momo, và bạn sẽ
                                                        được hướng dẫn cụ thể. Nhớ cầm theo CMND nhé.<p><img
                                                                    src="https://file.hstatic.net/1000160337/file/cua_hang_momo_japan_figure.jpg"></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <p><b>Cách 2: Nạp tiền với tài khoản/thẻ ngân hàng. Bạn có thể nạp vào từ 3 nguồn sau:</b></p>
                                        </li>
                                    </ul>
                                    <ul></ul>
                                    <p>- Nguồn tiền tử những các tài khoản ngân hàng có liên kết với Ví MoMo (Vietcombank, VPBank, TPBank,
                                        OCB, ACB, VietinBank, Eximbank, Sacombank...). Thực hiện liên kết theo hướng dẫn <a
                                                href="https://momo.vn/welcome/huong-dan-lk-tai-khoan.html">tại đây.</a><br>- Nguồn tiền từ 25 thẻ
                                        ATM nội địa<br>- Nguồn tiền Thẻ quốc tế (Visa/Master)</p>
                                    <p><img
                                                src="https://file.hstatic.net/1000160337/file/japan_figure_thanh_toan_momo_cac_ngan_hang_lien_ket.jpg">
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="question">
                                    <p><strong>2. Hướng dẫn rút tiền từ Momo</strong></p>
                                </div>
                                <div class="answer">
                                    <p>Để rút tiền khỏi ví, bạn có thể đến bất kỳ Điểm giao dịch nào của MoMo và yêu cầu rút (khi đi nhớ
                                        mang theo CMND). Bạn có thể tìm địa chỉ ĐGD khi chọn "Điểm Nạp/Rút" tại màn hình trong ví MoMo.</p>
                                    <p>Ngoài ra, nếu Ví MoMo của bạn đã liên kết với 1 trong 8 ngân hàng sau: Vietcombank, VPBank, TPBank,
                                        OCB, ACB, VietinBank, Eximbank, Sacombank (hướng dẫn liên kết <a
                                                href="https://momo.vn/welcome/huong-dan-lk-tai-khoan.html">tại đây</a>), bạn có thể rút bất kỳ lúc
                                        nào từ ví MoMo về tài khoản ngân hàng .</p>
                                    <p><img
                                                src="https://file.hstatic.net/1000160337/file/japan_figure_thanh_toan_rut_tien_mat_tu_vi_momo.png">
                                    </p>
                                    <p style="text-align: justify;">&nbsp;</p>
                                    <p style="text-align: justify;">&nbsp;</p>
                                    <p style="text-align: justify;">&nbsp;</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p style="text-align: center;"><span style="font-size: 10pt;">Email hỗ trợ&nbsp;<a
                                    href="mailto:support@japanfigure.vn">support@japanfigure.vn</a><br>Hotline <strong>090.8268.007</strong>
            <strong>(Vui lòng gọi trước khi đến)</strong></span></p>
                </div>
                <div class="box-article-tags">
                    <strong class="tags-title">Tags: </strong>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/huong-dan">#Hướng dẫn,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/dat-hang">#đặt hàng,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/thanh-toan">#thanh toán,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/japan-figure">#Japan Figure,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/gui-tien">#gửi tiền,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/chuyen-khoan">#chuyển khoản,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/vi-momo">#Ví Momo,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/momo">#Momo,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/vi-dien-tu">#Ví điện tử,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/cod">#COD,</a>

                    <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/giao-dich">#giao dịch,</a>

                </div>

            </div>

        </div>
        </div></div></div>
    <br><br><br>
{% endblock %}