{% extends 'base.html.twig' %}

{% block title %}Kakeibo phương pháp tiết kiệm, chi tiêu hợp lý{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="end">Kakeibo phương pháp tiết kiệm, chi tiêu hợp lý</li>
    </ul>
    <div class="container"><br>
        <div class="col-xs-12">
            <div class="heading-article">
                <h1>Kakeibo phương pháp tiết kiệm, chi tiêu hợp lý</h1>
            </div>
            <div class="inforArticle-content">
                <div class="article-content">
                    <div class="box-article-heading clearfix">



                        <div class="background-img">
                            <img src="http://file.hstatic.net/1000160337/article/arisutan1401803956.jpeg" alt="Kakeibo phương pháp tiết kiệm, chi tiêu hợp lý">
                        </div>
                    </div>
                    <div class="box-article-detail typeList-style"><h3 class="knc-sapo"><span style="color: rgb(128, 0, 128);" data-mce-style="color: #800080;">Thận nhiêu/ trái?</span><br><span style="color: rgb(128, 0, 128);" data-mce-style="color: #800080;">Bán máu bao nhiêu cho đủ?</span><br><span style="color: rgb(128, 0, 128);" data-mce-style="color: #800080;">Lại tốn tiền nữa rồi...</span><br><br><span style="color: rgb(51, 153, 102);" data-mce-style="color: #339966;">Những câu hỏi quen thuộc đều nhằm vào 1 vấn đề chung: Làm sao để chi tiêu hợp lí, không lãng phí luôn là một vấn đề đau đầu của bất kì ai. Người Nhật có một thủ thuật tiết kiệm tiền cực kì đơn giản có tên gọi là Kakeibo chắc chắn sẽ giúp bạn chi tiêu hợp lý hơn.</span></h3><p><img src="//file.hstatic.net/1000160337/file/arisutan1401803956_grande.jpeg" data-mce-src="//file.hstatic.net/1000160337/file/arisutan1401803956_grande.jpeg"></p><p>Khi khi có được 1 khoản tiền kha khá (từ lương, từ việc làm thêm, từ ba mẹ cấp cho v...v...) chắc chắn bạn đều cảm thấy rất hài lòng và nhanh chóng lên một list những đồ dùng cần mua. Và rồi, đến giữa tháng sau, bạn lại bắt đầu than thở rằng túi mình đã sạch sẽ, tháng này cạn kiệt. Cam đoan rằng một lúc nào đó, sau khi than thở, bạn sẽ mở ví rồi ngồi nhẩm lại xem mình đã mua thứ gì mà hết từng này tiền, tại sao ngày hôm nay chỉ còn ít tiền như thế này…</p><p>Dù có nghĩ đi nghĩ lại thì chắc chắn bạn vẫn sẽ luôn thấy có những khoản chẳng tiêu gì trong tháng vừa rồi mà vẫn hết tiền. Người Nhật có một thủ thuật tiết kiệm tiền cực kì đơn giản có tên gọi là kakeibo chắc chắn sẽ giúp bạn chi tiêu hợp lý hơn và sẽ không có những khoản chi vô lí nữa.</p><p>Kakeibo trong tiếng Nhật có nghĩa là một cuốn số gia đình truyền thống. Trong cuốn sổ này, bạn sẽ viết ra kế hoạch chi tiêu chi tiết của bản thân để có thể kiểm soát được ví tiền của mình dễ dàng hơn. Kakeibo khuyến khích mỗi người chúng ta nên nghiêm túc ngồi xuống từ đầu tháng và lên kế hoạch cho chi tiêu bốn tuần tiếp theo.</p><p>Đầu tiên, lấy một khoản tiền mặt nhất định từ số $ bạn nhận được (sau khi đã trừ đi khoản tiết kiệm) và lấy 4 phong bì. </p><p>Tiếp theo, chia số tiền vào 4 phong bì, viết tên cho 4 nhu cầu cơ bản: </p><p><strong>1.sinh hoạt</strong> (thực phẩm, đi lại, sức khỏe) </p><p><strong>2.nâng cao</strong> (ăn hàng, shopping) </p><p><strong>3.giải trí</strong> (sách, truyện, nhạc, phim, Japan figure) </p><p><strong>4.phát sinh</strong> (sửa xe, sửa máy tính, quỹ lớp).</p><div class="VCSortableInPreviewMode active" type="Photo"><div><img src="//file.hstatic.net/1000160337/file/kakeibo_chi_tieu_hop_ly.jpg" data-mce-src="//file.hstatic.net/1000160337/file/kakeibo_chi_tieu_hop_ly.jpg"></div><div class="PhotoCMS_Caption"><p data-placeholder="[nhập chú thích]" class="">Cuối mỗi tuần, bạn nên kiểm tra xem mình đã tiêu những khoản nào và trả lời 4 câu hỏi sau:</p></div></div><p>- Bạn có bao nhiêu tiền?</p><p>- Bạn muốn để dành bao nhiêu?</p><p>- Bạn thực sự tiêu bao nhiêu?</p><p><strong>- Làm thế nào để cải thiện điều đó? (câu này quan trọng nhất)</strong></p><p>Sau khi trả lời được hết những câu hỏi này, chắc chắn bạn sẽ nắm rõ được mong muốn của bản thân và cải thiện được những khoản chi tiêu lãng phí. Còn nếu không trả lời được 4 câu hỏi này, chắc chắn bạn đã và đang không thực hiện nghiêm túc phương pháp này.</p><div id="admzone480457"><div id="ads_zone480457"><div id="ads_zone480457_slot1">Ý tưởng tiết kiệm này xuất hiện từ năm 1904. Các chuyên gia cho biết cách này mang lại hiệu quả khá cao bởi vì việc viết ra trên giấy sẽ giúp bạn chịu trách nhiệm về chi tiêu của chính mình. Khi tận mắt nhìn vào những gì mình ghi ra, bạn sẽ biết mình đã chi tiêu hợp lí hay chưa. Bạn cũng sẽ nhận ra mình không đạt được mục tiêu tiết kiệm là do đang lãng phí vào những khoản nào.<br></div></div></div><p>Sổ chi tiêu đang quay trở lại với các gia đình Nhật thời gian gần đây, bởi người ta nhận ra dù cho đang ở thời đại công nghệ nhưng không gì tốt hơn làm việc với các con số là trên những trang giấy. Cuốn sổ này là một cách để bạn đối chiếu mình đang chi tiêu tiết kiệm chưa. Với kakeibo, người ta tin nó giúp bạn cắt giảm chi tiêu 35%.</p><p>Biết được kiến thức này, hi vọng bạn ko phải lao tâm thổ huyết khi chạy theo những thú vui nhất thời, mà tập trung cho mục tiêu chính.</p></div>
                    <div class="box-article-tags">
                        <strong class="tags-title">Tags: </strong>

                        <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/kakeibo">#Kakeibo,</a>

                        <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/phuong-phap-tiet-kiem">#phương pháp tiết kiệm,</a>

                        <a class="tag" href="https://japanfigure.vn/blogs/all/tagged/chi-tieu-hop-ly">#chi tiêu hợp lý,</a>

                    </div>

            </div>

        </div>
    </div>
    </div>

{% endblock %}