{% extends 'base.html.twig' %}

{% block title %}Số tài khoản{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="end">Số tài khoản</li>
</ul>
<div class="container">
    <div class="col-xs-12">
        <div class="heading-pageDetail"><h1>Số tài khoản</h1></div>
        <div class="content-pageDetail typeList-style">
            <p>&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><em>Bạn có thể gửi vào 1 trong các TK sau:</em></span></p><p style="text-align: center;" class="message"><span style="font-size:24px;"><span style="color:#ff0000"><strong>Vui lòng điền vào nội dung chuyển khoản<br>MÃ SỐ ĐƠN HÀNG</strong></span><br><strong><span style="color:#ff0000">Vd:&nbsp;</span><span style="color:#ff0000">123456</span></strong></span></p><p style="text-align: center;" class="message"><span style="font-size:24px;"><em><span style="color:#0000ff">*Mã đơn hàng sẽ có sau khi bạn&nbsp;đặt hàng trên&nbsp;web xong</span></em></span></p><p style="text-align: center"><span style="font-size:24px;"><img src="//file.hstatic.net/1000160337/file/bank_2d4397ea0791412989a59679e9cf4336_grande.jpg"></span></p><p style="text-align: center"><span style="font-size:24px;"><span style="color:#ff0000"><strong>1. Ngân hàng Techcombank (Tốc độ nhanh)</strong></span><br>Chủ TK: Vũ Minh Tân<br>Số TK: 37 38 48 58 68<br>Chi nhánh: Kỳ Hòa</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><span style="color:#f39c12"><strong>2. Ngân hàng Quốc Tế&nbsp;VIB (Tốc độ nhanh)</strong></span><br>Chủ TK: Vũ Minh Tân<br>Số TK: 005 181 007<br>Chi nhánh: Gia Định</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><strong><span style="color:#339966">3.Ngân hàng VPbank</span> </strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 6555 80 999<br>Chi nhánh Phòng giao dịch Quận 10, HCM</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><strong><span style="color:#3c8a00">4.Ngân hàng Vietcombank</span></strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 0421 000 442816<br>Chi nhánh Phú Thọ</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><strong><span style="color:#3366ff">5.Ngân hàng ACB</span></strong><br>Chủ TK: Vũ Minh Tân<br>Số TK: 14 309 1319<br>Chi nhánh: Phòng giao dịch Vạn Hạnh</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><span style="color:#993366"><strong>6. Ví Momo</strong> </span><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><span style="color:#96e3ff"><strong>7. Ví Zalopay</strong> </span><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><span style="color:#99cc00"><strong>8. Ví Viettelpay</strong></span><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;"><span style="color:#333399"><strong>9. Ví Moca</strong></span><br>Chủ TK:Vũ Minh Tân<br>Số TK: 0908268007</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:24px;">-</span></p><p style="text-align: center;"><span style="font-size:24px;">(｡◕‿‿◕｡)</span></p><p style="text-align: center;"><span style="font-size:24px;">-</span></p><p style="text-align: center;"><span style="font-size:24px;">-</span></p><p>&nbsp;</p><p>&nbsp;</p>
        </div>
    </div>
</div>
    <br><br><br>
{% endblock %}